<div id="viewtab" style="width:75%;">

    <h3>TimeLine Information</h3>
    <br />
    <h6>Order Information</h6>
    <table class="styled-table">

      <thead>
          <tr>
              <th>Seq no</th>
              <th>Order No</th>
              <th>Company Name</th>
              <th>Order Date</th>
              <th>Supplier</th>
              <th>Yarn Count| Mill| Colors| Weight</th>
              <th>Yarn Weight</th>
              <th>Balance Weight</th>
   
          </tr>
      </thead>
      <tbody>
    <% choosenOrders.forEach(function(order,index) { %>
      <% const neworderDate = (order.orderDate).getDate()+"-"+((order.orderDate).getMonth()+1)+"-"+(order.orderDate).getFullYear();%>
      <tr>
         <td><%= index+1%></td>
         <td><%= order.orderNo%></td>
         <td><%= order.company%></td>
         <td><%= neworderDate%></td>
         <td><%= order.supplier%></td>
         <td>
         <% order.yarnCount.forEach(function(yarns,index){%>
           <p><%= yarns.yarn%>|<%=yarns.mill%>|<%= yarns.color%>|<%= yarns.weight%></p>
         <% }) %> 
         </td>
         <td><%= order.yarnWeight%></td>
         <td><%= order.balanceWeight%></td>
      </tr>
    <% }) %>
  </tbody>
  </table>

    <br />
    <h6>Activity Log</h6>
    <table class="styled-table">

        <thead>
            <tr>
                <th>Seq no</th>
                <th>Reference</th>
                <th>Date/Time</th>
                <th>Action</th>
                <th>Description</th>
     
            </tr>
        </thead>
        <tbody>
      <% activities.forEach(function(activity,index) { %>
        <tr>
           <td><%= index+1%></td>
           <td><%= activity.reference%></td>
           <td><%= activity.datetime%></td>
           <td><%= activity.action%></td>
           <td><%= activity.description%></td>
        </tr>
      <% }) %>
    </tbody>
    </table>
</div>